<div class="container w-100">

<div class="row w-100 mt-5"></div>
<div class="col-md-12">
    <h1 class="text-monospace text-center">Sejam bem vindes ao meu blog!</h1>
</div>

<div class="row w-100 mt-4 mb-4">
    <div class="col-md-12">
        <p class="text-justify text-monospace">
            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Fugiat velit aliquam odio! Odit excepturi aperiam iure accusantium sunt fugiat nihil repellendus earum provident, nostrum facere! Distinctio sit ab praesentium hic?
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Incidunt sint placeat modi sit illo nulla blanditiis, ducimus error culpa, animi minus perferendis ipsum reiciendis magnam aut quisquam, vel tempore perspiciatis!
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Nam consequuntur quas corrupti tempore, eius officiis magnam voluptatem recusandae, praesentium, iusto architecto laborum accusamus qui dignissimos fugit molestiae perspiciatis! Nobis, amet!
        </p>
    </div>
</div>
</div>

<div class="parallax"></div>
    <div class="row w-100 mt-5 mb-5">
        <div class="col-md-12 w-100 d-flex justify-content-center">
            <button class="btn btn-outline-dark text-uppercase font-weight-bold" routerLink="/feed">ver o feed</button>
        </div>
    </div>




